#ul01{
    
    margin: 0;
    padding: 0;
    width: 10%;
    background-color: rgb(39, 38, 38);
    position: fixed;
    height: 100%;
    text-align: center;
}
#li01{
    color: #ffffff;
    padding: 0px 16px;
    text-decoration: none;
}
#a01{
    display: block;
    color: #ffffff;
    padding: 10px 16px;
    text-decoration: none;
}

/*{
    <!-- 边框测试 -->.
    overflow-x: hidden;
    outline: solid #f00 1px !important;
    background: #000 !important;
    color: #fff !important;
} */